.item{
    width: 280px;
    cursor: pointer;
}

.item-img-container{
    width: 280px;
    height: 350px;
    overflow: hidden;
}

.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
    display: block;
}

.item p{
    margin: 6px 0px;
}

.item-prices{
    display: flex;
    gap: 20px;
}

.item-price-new{
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old{
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover img {
    transform: scale(1.2);
}

@media (max-width:1280px) {
    .item{
        width: 220px;
    }
    .item-img-container{
        width: 220px;
        height: 280px;
    }
    .item-price-new{
        font-size: 16px;
    }
    .item-price-old{
        font-size: 16px;
    }
}